html,body {
    height:100%;
    width: 100%;
    margin: 0;
    padding:0;
}
header {
    height: 80px;
    background-color: #643843;
    color:white;
    width:100%
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%; 
  }
  main {
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6EABE;
    color:rgb(3, 1, 20);
}
.divmain{
    display:flex;
}
div {
    height:380px;
    flex:1;
    margin:10px;
    justify-content: center;
}
.div1{
    background-color: #77E4D4;
}
.div2{
    background-color: #998CEB;
}
.div3{
    background-color: #B4FE98;
}
footer {
    background-color: #87AAAA;
    height: 60px;
    color:black;
    justify-content:center;
    text-align:center;
}
